{% extends 'base.html' %}
{% load static %}
{% block content %}



        <!-- site content
        ================================================== -->
        <div class="s-content content">
            <main class="row content__page">
                
                <section class="column large-full entry format-standard">

                    <div class="media-wrap">
                        <div>
                            <img src="{% static 'images/thumbs/contact/contact-1000.jpg' %}"  alt="">
                        </div>
                    </div>
                   
                    {% if message_name %}
                    <div>
                        <h2>Hey - {{ message_name }}
                        </h2>
                        <p>Thank you for sending mail. We will get Back to You.</p>
                    </div>
                    {% else %}

                    <div class="content__page-header">
                        <h1 class="display-1">
                        Get In Touch.
                        </h1>
                    </div> <!-- end content__page-header -->

                    <p class="lead drop-cap">
                        We are all very different. We were born in different cities, at different times,
                         we love different music, food, movies. But we have something that unites us all.
                          It is our company. We are its heart. We are not just a team, we are a family.
                    </p>
                    <h2>Creativity</h2>
                    <p>
                        It's the ability to think outside the box. We make decisions, create something new and generate a lot of ideas.
                    </p>

                    <h2>Worldwide</h2>
                    <p>
                        All sites you make with Mobirise are mobile-friendly. You don't have to create a special mobile version of your site.
                    </p>

                    <h2>Unique Styles</h2>
                    <p>
                        Mobirise offers many site blocks in several themes, and though these blocks are pre-made, they are flexible.
                    </p>

                    <div class="row">
                        <div class="column large-six tab-full">
                            <h4>Where to Find Us</h4>
    
                            <p>
                            18/1 Kalikapur Road<br>
                            Kolkata , WB<br>
                            700099, INDIA
                            </p>
    
                        </div>
    
                        <div class="column large-six tab-full">
                            <h4>Contact Info</h4>
    
                            <p>Anshu Raj<br>
                            anshur0202@gmail.com<br>
                            Phone: +9876543210
                            </p>
    
                        </div>
                    </div>

                    <h3 class="h2">Contact Form - {{ message_name }}</h3>

                    <form name="contactForm" id="contactForm" method="post" action="{% url 'contact' %}" autocomplete="off">
                       {% csrf_token %}
                        <fieldset>
    
                            <div class="form-field">
                                <input name="cName" id="cName" class="full-width" placeholder="Your Name" value="" type="text">
                            </div>
    
                            <div class="form-field">
                                <input name="cEmail" id="cEmail" class="full-width" placeholder="Your Email" value="" type="text">
                            </div>
    
    
                            <div class="message form-field">
                                <textarea name="cMessage" id="cMessage" class="full-width" placeholder="Your Message"></textarea>
                            </div>
    
                            <input name="submit" id="submit" class="btn btn--primary btn-wide btn--large full-width" value="Send Message" type="submit">
    
                        </fieldset>
                    </form> <!-- end form -->

        
                  

                </section>
                {% endif %}

            </main>

        </div> <!-- end s-content -->

{% endblock content %}